.about {

    &__trust {
        position: relative;
        margin: 7rem auto;        
    }

    &__tabs {
        position: relative;

        &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 85%;
            background-color: #ced6af;
            z-index: 0;
        }
        
        & li:not(.item-active) {
            cursor: pointer;
            color: #ced6af;    
          }

          & li:not(.item-active):hover {            
            color: #8b9078;    
          }
    }
    
    .item-active {
        z-index: 1;
        border-bottom: 2px solid #000;
    }

    &__item {
        @include text-about (30px, 5px);
    }

    .trust {

        &__title {
            position: absolute;
            top: 25%;
            left: 38%;
            @include text-about (24px, 0);	
            color: #1c1c1b;
            letter-spacing: 4px;
        }

        &__logos {
            position: absolute;            
            bottom: 19%;
            left: 27%;            
        }        
    }

    .content {

        margin-top: 5rem;

        &-wrap {
            padding-top: 2rem;
            padding-bottom: 2rem;            
        }

        &__title {
            @include text-about (24px, 5px);
            line-height: 2.5rem;            
        }

        &__title-wrap {
            padding-right: 10rem;            
        }

        &__text {
            font-size: 18px;
            color: #6e774a;
            line-height: 2.5rem;            
        }

        &__text-wrap {
            margin-bottom: 2.5rem;            
        }

        &-picture img {
            margin-bottom: 28px;
        }

    }



}