.header {
    position: relative;
    height: 100vh;    
    background-image: url(../img/header_bg.png);
    background-position: top; 
    background-size: cover;
    background-repeat: no-repeat; 

    &__aside {
        position: absolute;
        bottom: 200px;
        left: 0;
        @include text-header (26px, 0);
        transform: rotate(270deg);
        
        &::before {
            display: block;
            position: absolute;
            bottom: 50%;
            left: -114px;
            content: '';
            width: 100px;
            height: 2px;
            background-color: #fff;
        }
    }
    
    &__content {
        padding: 50% 0;
    }

    &__title {
        @include text-header (55px, 13px);	
        text-shadow: 0 0 40px rgba(0,0,0,.5);        
        margin-bottom: 20px;

        @media screen and (max-width: 1199px) {
            font-size: 30px;;
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 300;        
        letter-spacing: 5px;
        color: #ffffff;
        margin-bottom: 65px;
    }

    &__btn {
        @include text-header (20px, 0);
        width: 270px;
	    height: 70px;
        background-color: transparent;
        border: 1px solid #ffffff;
        margin-bottom: 30px;
    }
}

.nav {
    border-bottom: 1px solid #fff;

    h3 {
        @include text-header (30px, 0);
    } 
    
    &__item {         
    
        &:hover .nav__link {
            color: #ffffff;            
        }
        
        &:hover .nav__link::after {
            width: 100%;
        }
    
        &:active .nav__link { 
            color: #ffffffa2;
        }
    
        &:active .nav__link::after { 
            transform: scaleX(0.7);
            background-color: #ffffffa2;
        }
    }
    
    &__link {
        @include text-header (16px, 2px);         
        position: relative;       
    
        &::after {
            position: absolute;
            display: block;
            content: '';
            left: 0;
            bottom: -5px;
            height: 2px;
            width: 0;            
            background-color: #ffffff;            
            transition: 0.4s width ease;
        }
    }

    &__toolbar {

        .toolbar {

            &__item {
                padding-left: 76px;
                
                & i {
                    color: #ffffff;
                    margin-right: 5px;
                }
            }

            &__link {
                @include text-header (16px, 2px);                
            }
        }


    }
    
}



