main#Faqs.about
  .container
    .about__trust.trust.text-center
      img(src="./img/Holder.png", alt="holder")
      h3.trust__title We are what we are        
      img.trust__logos(src="./img/Logos.png", alt="logos")
    .row          
      .col-12.p-0
        .about__wrapper          
          ul.about__tabs.d-flex.justify-content-around
            li(id="#content1").about__item.item-active.pb-3 What is CBD?              
            li(id="#content2").about__item.pb-3 Benefits              
            li(id="#content3").about__item.pb-3 Our Difference              
          article#content1.about__content.content
            .row
              section.content-wrap.col-lg-5.col-12.d-flex.flex-column
                .content__title-wrap.mb-lg-5.mb-md-3
                  h4.content__title What It Is And How It Works
                .content__text-wrap.pr-5
                  p.content__text CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.
                .content__text-wrap.pr-5
                  p.content__text Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from the flowers and leaves of the hemp plant.
                .content__text-wrap.pr-5
                  p.content__text Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.
              section.content-picture.col-xl-6.offset-xl-1.col-lg-7.col-12.offset-0.d-flex.flex-column.py-lg-4.py-0
                img(src="./img/about_1.png", alt="")
                img(src="./img/about_2.png", alt="")
          article#content2.about__content.content
            .row
              section.content-wrap.col-lg-5.col-12.d-flex.flex-column
                .content__title-wrap.mb-lg-5.mb-md-3
                  h4.content__title Benefits
                .content__text-wrap.pr-5
                  p.content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, a debitis. Itaque, obcaecati facere debitis ad enim excepturi exercitationem porro?
                .content__text-wrap.pr-5
                  p.content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi et neque nobis.
                .content__text-wrap.pr-5
                  p.content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, cumque eos? Debitis eligendi deleniti aliquid excepturi esse nostrum eius natus!
              section.content-picture.col-xl-6.offset-xl-1.col-lg-7.col-12.offset-0.d-flex.flex-column.py-lg-4.py-0
                img(src="./img/about_3.png", alt="")
                img(src="./img/about_4.png", alt="")
          article#content3.about__content.content
            .row
              section.content-wrap.col-lg-5.col-12.d-flex.flex-column
                .content__title-wrap.mb-lg-5.mb-md-3
                  h4.content__title Our Difference
                .content__text-wrap.pr-5
                  p.content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nostrum dolorum nobis adipisci suscipit corporis, dolorem itaque asperiores officiis totam repellendus. Tempore magnam explicabo ratione, neque quaerat error minima non ipsum ad odit magni vero?
                .content__text-wrap.pr-5
                  p.content__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, modi.
                .content__text-wrap.pr-5
                  p.content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto quam quis quidem consequatur quos voluptas error praesentium.
              section.content-picture.col-xl-6.offset-xl-1.col-lg-7.col-12.offset-0.d-flex.flex-column.py-lg-4.py-0
                img(src="./img/about_5.png", alt="")
                img(src="./img/about_6.png", alt="")