main.about
  .container
    .row
      .col-12
        .about__trust.trust
          img(src="./img/Holder.png", alt="holder")
          h3.trust__title We are what we are        
          img.trust__logos(src="./img/Logos.png", alt="logos")          
      .col-12
        .about__wrapper          
          ul.about__tabs.d-flex.justify-content-around
            li.about__item
              a.about__link(href="#") What is CBD?
            li.about__item
              a.about__link(href="#") Benefits
            li.about__item
              a.about__link(href="#") Our Difference
          article.about__content.content
            .row
              section.col-6.d-flex.flex-column
                h4.content__title What It It And How It Works
                p.content__text CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.
                p.content__text Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from the flowers and leaves of the hemp plant.
                p.content__text Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.
              section.col-6.d-flex.flex-column
                img(src="./img/about_1.png", alt="")
                img(src="./img/about_2.png", alt="")
      
    