main.about
  .container
    .about__trust.trust.text-center
      img(src="./img/Holder.png", alt="holder")
      h3.trust__title We are what we are        
      img.trust__logos(src="./img/Logos.png", alt="logos")
    .row          
      .col-12
        .about__wrapper          
          ul.about__tabs.d-flex.justify-content-around
            li.about__item.pb-3
              a.about__link(href="#") What is CBD?
            li.about__item.pb-3
              a.about__link(href="#") Benefits
            li.about__item.pb-3
              a.about__link(href="#") Our Difference
          article.about__content.content
            .row
              section.content-wrap.col-5.d-flex.flex-column
                .content__title-wrap.mb-5
                  h4.content__title What It Is And How It Works
                .content__text-wrap.pr-5
                  p.content__text CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.
                .content__text-wrap.pr-5
                  p.content__text Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from the flowers and leaves of the hemp plant.
                .content__text-wrap.pr-5
                  p.content__text Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.
              section.col-6.offset-1.d-flex.flex-column.justify-content-between.py-4
                img(src="./img/about_1.png", alt="")
                img(src="./img/about_2.png", alt="")
      
    