footer#Contact.footer
  .container
    .row
      .col-12
        .footer-header
          .row
            .col-4
              .footer-line
            .col-4
              .footer-title
                h2 CBD
            .col-4
              .footer-line
        .footer-links
            .row
              .col-4
                ul.footer-list.d-flex.flex-column.align-items-center
                  li.footer-item.mb-4
                    a.footer-item__link(href="") Privacy Policy
                  li.footer-item.mb-4
                    a.footer-item__link(href="") Terms of Use
                  li.footer-item.mb-4
                    a.footer-item__link(href="") Return Policy
              .col-4
                .footer-social.d-flex.justify-content-around
                  a.footer-social__link(href='https://facebook.com' target='_blank')
                    i.fab.fa-facebook-f        
                  a.footer-social__link(href='https://twitter.com' target='_blank')
                    i.fab.fa-twitter        
                  a.footer-social__link(href='https://youtube.com' target='_blank')
                    i.fab.fa-youtube
                  span
              .col-4
                ul.footer-list.d-flex.flex-column.align-items-center
                  li.footer-item.mb-4
                    a.footer-item__link(href="") Shipping Info
                  li.footer-item.mb-4
                    a.footer-item__link(href="") Returns/Exchanges
                  li.footer-item.mb-4
                    a.footer-item__link(href="") Contact
        .footer-form.form
          .container
            .row
              .col-4.offset-4
                .form-block.d-flex.flex-column.align-items-center.justify-content-center
                  .form-title
                    h4.form-title__text Subscribe to Newsletter
                  form.form-box(action="").d-flex.align-items-center
                    input.form-box__email(type="email", name="", placeholder="Email")
                    input.form-box__btn(type="submit", value="")
                .footer-copyright
                  p.footer-copyright__text &copy 2018. CBD health.

        