header.header
  nav.header__nav.d-flex.justify-content-between.py-3
    div
      ul.header__list.d-flex.justify-content-around
        li.header__item
         a.header__link Home
        li.header__item 
         a.header__link Produts
        li.header__item 
         a.header__link Faqs
        li.header__item 
         a.header__link Contact Us
    div
      h3 CBD
    div

      