header#Home.header
  aside.header__aside.d-none.d-md-block CBD Potion health
  span.page-anchor
    i.fas.fa-chevron-circle-up
  .container-fluid
    .row
      .col-12        
        nav.nav.d-flex.justify-content-between.align-items-center.py-4
          .col-xl-4.col-lg-5.col-md-2.col-sm-2.col-6         
            .nav-burger.d-lg-none.d-md-block
              input(type='checkbox')
              span
              span
              span
              ul.nav-burger__list
                li.nav-burger__item
                  a.nav-burger__link(href="#Home") Home
                li.nav-burger__item 
                  a.nav-burger__link(href="#Faqs") Faqs
                li.nav-burger__item 
                  a.nav-burger__link(href="#Products") Products
                li.nav-burger__item 
                  a.nav-burger__link(href="#Posts") Posts
                li.nav-burger__item 
                  a.nav-burger__link(href="#Contact") Contact Us
            ul.nav__list.d-lg-flex.d-none.justify-content-between
              li.nav__item
                a.nav__link(href="#Home") Home
              li.nav__item 
                a.nav__link(href="#Faqs") Faqs
              li.nav__item 
                a.nav__link(href="#Products") Products
              li.nav__item 
                a.nav__link(href="#Posts") Posts
              li.nav__item 
                a.nav__link(href="#Contact") Contact Us
          .col-xl-4.col-lg-2.col-md-5.col-sm-2.col-6.d-flex.justify-content-sm-center.justify-content-end
            h3 CBD
          .col-xl-4.col-lg-5.col-md-5.col-sm-7.col-12
            ul.nav__toolbar.toolbar.d-flex.justify-content-sm-end.justify-content-between.mt-4.mt-sm-0
              li.toolbar__item
                a(href="#").toolbar__link Login
              li.toolbar__item.d-flex
                i.fas.fa-search 
                a(href="#").toolbar__link Search
              li.toolbar__item
                a(href="#").toolbar__link
                  | Cart 
                  span.cart  (0)
      .col-12
        section
          .container
            .row
              .col-lg-7.offset-lg-5.col-md-9.offset-md-3.col-sm-12.offset-sm-0
                .header-content.d-flex.flex-column.align-items-end.justify-content-center
                  h1.header__title Enhancing Life
                  h1.header__title Excelling in Care
                  h5.header__subtitle Choose Wisely. Choose CBD.
                  button.header__btn 
                    | Start Shopping
                    span
                  .header__more
                    a.header__link(href="#") 
                      | See all products
                      span



      