header#Home.header
  aside.header__aside CBD Potion health
  span.page-anchor
    i.fas.fa-chevron-circle-up
  .container-fluid
    .row
      .col-12        
        nav.nav.d-flex.justify-content-between.align-items-center.py-4
          .col-3
            ul.nav__list.d-flex.justify-content-between
              li.nav__item
                a.nav__link(href="#Home") Home
              li.nav__item 
                a.nav__link(href="#Faqs") Faqs
              li.nav__item 
                a.nav__link(href="#Products") Products
              li.nav__item 
                a.nav__link(href="#Posts") Posts
              li.nav__item 
                a.nav__link(href="#Contact") Contact Us
          .col-6.d-flex.justify-content-center
            h3 CBD
          .col-3
            ul.nav__toolbar.toolbar.d-flex.justify-content-end
              li.toolbar__item
                a(href="#").toolbar__link Login
              li.toolbar__item.d-flex
                i.fas.fa-search 
                a(href="#").toolbar__link Search
              li.toolbar__item
                a(href="#").toolbar__link
                  | Cart 
                  span.cart  (0)
      .col-12
        section
          .container
            .row
              .col-7.offset-5
                .header-content.d-flex.flex-column.align-items-end.justify-content-center
                  h1.header__title Enhancing Life
                  h1.header__title Excelling in Care
                  h5.header__subtitle Choose Wisely. Choose CBD.
                  button.header__btn 
                    | Start Shopping
                    span
                  .header__more
                    a.header__link(href="#") 
                      | See all products
                      span



      