header.header
  .container-fluid
    .row
      .col-12
        h3.header__aside CBD Potion health
        nav.nav.d-flex.justify-content-between.align-items-center.py-4
          .col-3
            ul.nav__list.d-flex.justify-content-between
              li.nav__item
              a.nav__link Home
              li.nav__item 
              a.nav__link Produts
              li.nav__item 
              a.nav__link Faqs
              li.nav__item 
              a.nav__link Contact Us
          .col-6.d-flex.justify-content-center
            h3 CBD
          .col-3
            ul.nav__toolbar.toolbar.d-flex.justify-content-between
              li.toolbar__item.px-5
                a(href="#").toolbar__link Login
              li.toolbar__item.d-flex.px-5
                i.fas.fa-search 
                a(href="#").toolbar__link Search
              li.toolbar__item.px-5
                a(href="#").toolbar__link Cart
        .col-12
          section
            .container
              .row
                .col-7.offset-5.d-flex.flex-column.justify-content-center
                  .header__content
                    h1.header__title Enhancing Life
                    h1.header__title Excelling in Care
                    h5.header__subtitle Choose Wisely. Choose CBD.
                    button.header__btn Start Shopping
                    .header__more
                      a(href="#") See all products



      