section.posts
  .container-fluid
    aside.posts-aside CBD every day
    .container
      .row
        .col-8.offset-2    
          .owl-carousel.owl-theme.owl-loaded.slide-two
            .owl-stage-outer
              .owl-stage          
                .posts-box.owl-item.d-flex.flex-column.justify-content-center.align-items-center
                  .posts-rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                  .posts-title
                    p.posts-title__text I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!
                  .posts-autor.d-flex.align-items-center
                    span
                    p.posts-autor__text Mark J.
                .posts-box.owl-item.d-flex.flex-column.justify-content-center.align-items-center
                  .posts-rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                  .posts-title
                    p.posts-title__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, saepe! Voluptatum porro quas at perspiciatis.
                  .posts-autor.d-flex.align-items-center
                    span
                    p.posts-autor__text John S.
                .posts-box.owl-item.d-flex.flex-column.justify-content-center.align-items-center
                  .posts-rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                  .posts-title
                    p.posts-title__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur animi, praesentium modi nesciunt autem excepturi.
                  .posts-autor.d-flex.align-items-center
                    span
                    p.posts-autor__text Peter B.            
    