section#Products
  .container-fluid
    .product-title
      h2 CBD Featured Products  
    .owl-carousel.owl-theme.owl-loaded.slide-one
      .owl-stage-outer
        .owl-stage
          .product-block.owl-item.d-flex.flex-column.align-items-center
            .product-block__main.d-flex.flex-column.align-items-center
              .product-block__rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              .product-block__title
                p CBD 500 mg Orange Flavor Tincture
              .product-block__img.d-flex.align-items-center
                img(src="./img/product_img_1.png", alt="")
            .product-block__footer.d-flex.justify-content-between.align-items-center
              .product-block__prise.py-4.pl-4
                p &#36 49.99 USD
              button.product-block__btn Shop     
          .product-block.owl-item.d-flex.flex-column.align-items-center
            .product-block__main.d-flex.flex-column.align-items-center
              .product-block__rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              .product-block__title
                p Black ICE CBD Muscle Rub 200 mg
              .product-block__img.d-flex.align-items-center
                img(src="./img/product_img_2.png", alt="")
            .product-block__footer.d-flex.justify-content-between.align-items-center       
                .product-block__prise.py-4.pl-4
                  p &#36 49.99 USD
                button.product-block__btn Shop      
          .product-block.owl-item.d-flex.flex-column.align-items-center
            .product-block__main.d-flex.flex-column.align-items-center
              .product-block__rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              .product-block__title
                p CBD+Curcumin Coffee 750 mgs
              .product-block__img.d-flex.align-items-center
                img(src="./img/product_img_3.png", alt="")
            .product-block__footer.d-flex.justify-content-between.align-items-center
              .product-block__prise.py-4.pl-4
                p &#36 49.99 USD
              button.product-block__btn Shop      
          .product-block.owl-item.d-flex.flex-column.align-items-center
            .product-block__main.d-flex.flex-column.align-items-center
              .product-block__rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
              .product-block__title
                p CBD+Curcumin Coffee 750 mgs
              .product-block__img.d-flex.align-items-center
                img(src="./img/product_img_3.png", alt="")
            .product-block__footer.d-flex.justify-content-between.align-items-center
              .product-block__prise.py-4.pl-4
                p &#36 49.99 USD
              button.product-block__btn Shop
    
    