section.question
  .container
    .row
      .col-6.offset-3.d-flex.flex-column.justify-content-center 
        .question-title
          h2 Frequently asked questions
        .question-accordion.accordion
          .accordion-wrap
            .accordion-header
              p What is Cannabidiol (CBD)?
            .accordion-body
              p Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.
          .accordion-wrap
            .accordion-header.active
              p Is Hemp-Derived Cannabidiol (CBD) Legal?
            .accordion-body
              p Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.
          .accordion-wrap
            .accordion-header
              p Are there any negative side effects? 
            .accordion-body
              p Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.
          .accordion-wrap
            .accordion-header
              p Do you offer a return policy?
            .accordion-body
              p Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.