doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css")
    title CBD Project
  body
    include modules/header
    //- include modules/about
    //- include modules/products
    //- include modules/questions
    //- include modules/posts
    //- include modules/footer
    script(src="https://kit.fontawesome.com/13fd77a47d.js" crossorigin="anonymous")
    script(src="/node_modules/jquery/dist/jquery.js")
    script(src="/node_modules/jquery-validation/dist/jquery.validate.js")
    script(src="/node_modules/owl.carousel/dist/owl.carousel.min.js")
